@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.eot");
  src: url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.otf") format("opentype"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.svg") format("svg"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.ttf") format("truetype"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff") format("woff"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: ExtraBold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("./fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.otf") format("opentype"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.svg") format("svg"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./fonts/Gilroy-Semibold/Gilroy-Semibold.eot");
  src: url("./fonts/Gilroy-Semibold/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Semibold/Gilroy-Semibold.otf") format("opentype"),
    url("./fonts/Gilroy-Semibold/Gilroy-Semibold.svg") format("svg"),
    url("./fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format("truetype"),
    url("./fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff"),
    url("./fonts/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2");
  font-weight: SemiBold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("./fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.otf") format("opentype"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.svg") format("svg"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("./fonts/BebasNeueBold/BebasNeueBold.eot");
  src: url("./fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BebasNeueBold/BebasNeueBold.otf") format("opentype"),
    url("./fonts/BebasNeueBold/BebasNeueBold.svg") format("svg"),
    url("./fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"),
    url("./fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"),
    url("./fonts/BebasNeueBold/BebasNeueBold.woff2") format("woff2");
  font-weight: Bold;
  font-style: normal;
}

html {
  font-size: 10px;
  font-family: Gilroy-Medium, sans-serif;
  background: #fff;
  color: #222;
}

b, strong, a, h1, h2 {
  font-weight: bold;
}

a {
  color: #f53743;
  text-decoration: none;
}

::selection {
  color: white;
  background: #f53743;
}
